body{
    font-family: Arial, sans-serif;
}
.game-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 56px);
    max-height: 600px;
}

.control-panel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35vw;
    height: 35px;
    max-width: 400px;
    min-width: 300px;
    /*margin-top: 50px;*/
}

.game-board{
    width: 35vw;
    height: 240px;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-cell{
    /*border: steelblue solid 2px;*/
    width: 100%;
    height: 100%;
    min-width: 65px;
    min-height: 65px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.game-row{
    width: 100%;
    height: 33.333%;
    display: flex;
    box-sizing: border-box;
}

.game-row-middle{
    border-top: #818c96 solid 2px;
    border-bottom: #818c96 solid 2px;
}

.game-cell-middle{
    border-left: #818c96 solid 2px;
    border-right: #818c96 solid 2px;
}

.button-start{
    width: 90%;
    height: 50px;
    font-size: 1.2em;
    background-color: white;
    border:  #818c96 1px solid;
    color: #343a40;
    border-radius: 7px;
}

.button-next{
    height: 30px;
    background-color: #818c96;
    border:  #818c96 1px solid;
    color: white;
    border-radius: 7px;
}

.button-reset{
    width: 20%;
    height: 30px;
    background-color: white;
    border:white;
    color: #5f686e;
    font-size: .9em;
}

.toaster{
    width: 80vw;
    max-width: 400px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.4em;
    color: #5f686e;
    /*margin-bottom: 100px;*/
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    outline: none !important;
}